ion-header {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  height: 55px;
  ion-toolbar {
    --border-color: white;
  }
  ion-title {
    padding: 0 40px;
    text-align: left;
    height: 55px;
    ion-searchbar {
      transition: 5s ease-in-out;
      height: 30px;
      --background: white;
      padding: 0;
      border: 1px rgba(112, 112, 112, 0.2) solid;
      border-radius: 5px;
    }
  }
}
ion-content {
  font-family: Arial, Helvetica, sans-serif;
  --overflow: hidden;
  .no-bill {
    margin-top: 50%;
    text-align: center;
    ion-button {
      text-align: center;
      --background: none;
      --background-focused: none;
      --background-activated: none;
      --color: black;
      --color-focused: black;
      --color-activated: black;
      border-radius: 100px;
      box-shadow: 0px 2px 5px 0px rgb(148, 148, 148);
      height: 38px;
      width: 177px;
    }
    p {
      font-size: 0.8rem;
    }
  }

  .bills {
    //text-align: center;
    .scroll {
      overflow-x: auto;
      position: relative;
    }
    padding: 0 11px;
    .add-bill {
      text-align: center;
      ion-button {
        text-align: center;
        --background: none;
        --background-focused: none;
        --background-activated: none;
        --color: black;
        --color-focused: black;
        --color-activated: black;
        border-radius: 100px;
        height: 38px;
        width: 178px;
        margin: 15px 0px 0px 0px;
        box-shadow: 0px 2px 5px 0px rgb(148, 148, 148);
      }
    }
    p {
      font-size: 12px;
      margin-top: 30px;
      span {
        color: red;
      }
    }
    .detail {
      margin-top: 23px;
      .bill {
        border-bottom: 1px rgba(112, 112, 112, 0.2) solid;
        .info-bill {
          display: flex;
          font-size: 15px;
          padding-bottom: 5px;
        }
        .status-bill {
          display: flex;
          font-size: 12px;
          padding-bottom: 5px;
        }
        .date {
          text-align: left;
          font-size: 12px;
          opacity: 0.5;
          padding-bottom: 5px;
        }
      }
      .left {
        flex-grow: 1;
        text-align: left;
      }
      .right {
        flex-grow: 1;
        text-align: right;
      }
    }
  }
}
