<ion-header>
  <ion-toolbar>
    <ion-buttons *ngIf="!show_searchbar" slot="start" (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title *ngIf="show_searchbar">
      <ion-searchbar #searchInput (ionChange)="searchProduct($event)" animated #autofocus placeholder="Tìm sản phẩm">
      </ion-searchbar>
    </ion-title>
    <ion-buttons *ngIf="!show_searchbar" slot="end" (click)="searchProd()">
      <ion-icon name="search"></ion-icon>
    </ion-buttons>
    <ion-buttons *ngIf="!show_searchbar" slot="end" (click)="scan()">
      <ion-icon name="camera"></ion-icon>
    </ion-buttons>
    <ion-buttons *ngIf="!show_searchbar" slot="end" (click)="gotoCreateProduct()">
      <ion-icon name="add"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="show" (click)="gotoProductConfirm()">
      <ion-icon name="checkmark" color="primary"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="conteiner_import_cart">
  <!-- show searchbar -->
  <div class="search_list" *ngIf="show_searchbar" (click)="dismissSearchProd()"
    [ngStyle]="opacity ? {opacity: 0.7}: {opacity: 1}">
    <ion-list>
      <ion-item *ngFor="let item of search_product" (click)="selectProduct(item)">
        <img [src]="item.img" width="50px" height="50px">
        <ion-label>
          <h1><b>{{item.name}}</b></h1>
          <h2>Giá nhập: <b>{{item.price_import | number: '1.0-0'}}</b></h2>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div class="txt_scan">
    <ion-icon name="barcode"></ion-icon>
  </div>
  <div class="txt_list_name">
    <div class="txt_supplier_name">
      <ion-label>Nhà Cung Cấp</ion-label>
      <ion-label><span>{{ supplier.name }} - {{ supplier.phone }}</span></ion-label>
    </div>
    <div class="scroll" scrollX=“true” scrollEvents=“true” scrollY=“false” style="height: 45vh;" *ngIf="show_prod">
      <ion-item *ngFor="let item of list_product">
        <button class="icon" (click)="deleteItem(item)">
          <ion-icon name="close"></ion-icon>
        </button>

        <div class="label">
          <h3 class="name_title1">{{item.name}}</h3>
          <div class="txt_money">
            <h2 class="name_title">
              <input type="number" [(ngModel)]="item.price_import">
            </h2>
            <p class="x">x</p>
            <!-- <div class="down_up"> -->
            <button class="btn_icon1" (click)="decrease(item)">
              <ion-icon name="arrow-down"></ion-icon>
            </button>
            <span class="name_title2">{{item.number}}</span>
            <button class="btn_icon1" (click)="increase(item)">
              <ion-icon name="arrow-up"></ion-icon>
            </button>
            <!-- </div> -->
            <ion-label class="txtname_title">{{item.price_import * item.number | number: '1.0-0'}}</ion-label>
          </div>
        </div>

      </ion-item>
    </div>
  </div>
  <div *ngIf="trigger_popup"
    style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: gray; opacity: 0.7; z-index: 999">
  </div>
  <ion-card *ngIf="trigger_popup" class="ion-padding"
    style="position: absolute ;z-index: 9999; background: white; top: 50%; left: 50% ; margin-left: -8rem; margin-top: -7rem; width: 16rem; height: 10rem;">
    <div class="txt-card-tt1">
      <h5 class="ion-text-center">Mọi thay đổi sẽ không được lưu?</h5>
      <ion-grid class="popupContent">
        <ion-row>
          <ion-col>
            <ion-button (click)="cancel()" color="medium" style="width: 100%">HỦY</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="deteleBillDetail()" color="warning" style="width: 100%">ĐỒNG Ý</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>
</ion-content>