ion-header {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  height: 55px;
  ion-toolbar {
    --border-color: white;
  }
  ion-title {
    padding: 0 10px;
    text-align: left;
    height: 55px;
    ion-searchbar {
      transition: 5s ease-in-out;
      height: 30px;
      --background: white;
      padding: 0;
      border: 1px rgba(112, 112, 112, 0.2) solid;
      border-radius: 5px;
    }
  }
  ion-icon {
    padding: 0;
    margin: 0;
  }
  ion-buttons {
    margin: 10px;
    font-size: 2rem;
    --color: black;
  }
}
.conteiner_import_cart {
  --overflow: hidden;
  .search_list {
    z-index: 999;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    ion-item {
      img {
        width: 50px;
        height: 50px;
        border-radius: 4px;
        margin-bottom: 10px;
        box-shadow: 2px 2px 5px 0 rgba($color: #000000, $alpha: 0.16);
      }
      ion-label {
        margin-left: 8px;
        color: black;
        margin-bottom: 20px;
        h1 {
          font-size: 1rem;
        }
        h2 {
          font-size: 0.8rem;
          b {
            color: red;
          }
        }
      }
    }
  }
  .txt_scan {
    text-align: -webkit-center;
    ion-icon {
      text-align: center;
      font-size: 15rem;
    }
  }
  .txt_list_name {
    .txt_supplier_name {
      margin: 2vh;
      display: flex;
      justify-content: space-between;
      ion-label {
        font-size: 0.8rem;
        color: #00a859;
        font-weight: bold;
        span {
          color: #00a859;
          font-weight: normal;
        }
      }
    }
    .scroll {
      overflow-x: auto;
      position: relative;
      ion-item {
        display: flex;
        margin-bottom: 20px;
      }
      .icon {
        flex-grow: 1;
        font-size: 2rem;
        color: #dd3341;
        background-color: white;
      }
      .label {
        flex-grow: 8;
        .name_title1 {
          font-size: 1rem;
          color: #222;
          font-weight: bold;
          margin-top: 0;
        }
        .txt_money {
          display: flex;
          // .down_up{
          height: 1.8rem;

          .name_title {
            font-size: 0.8rem;
            width: 30%;
            margin: 0;
            input {
              text-align: center;
              width: 70%;
              border: none;
              border-bottom: 1px #000 solid;
            }
          }
          .x {
            font-size: 0.8rem;
            width: 15%;
            margin: 0;
          }
          .name_title2 {
            font-size: 0.8rem;
            color: #00a859;
            width: 10%;
            text-align: center;
          }

          .btn_icon1 {
            border-radius: 100%;
            width: 22px;
            height: 19px;
            margin: 0 5px 15px 5px;
            padding: 0;
            text-align: center;
            flex-grow: 0.3;
            background-color: white;
            box-shadow: 2px 2px 5px 0px rgba(168, 168, 168, 1);
          }
          // }
          .txtname_title {
            color: #222;
            font-size: 0.8rem;
            font-weight: bold;
            width: 35%;
            text-align: center;
          }
        }
      }
    }
  }
}
