ion-header {
  ion-toolbar {
    --background: #00a859;
  }
  ion-title {
    --color: #ffffff;
  }
  ion-button {
    --background: none;
    --background-activated: none;
  }
}
ion-content {
  .list {
    border-radius: 10px;
    padding: 0;
    margin: 10px 8px 20px 8px;
    background: white;
    box-shadow: 0px 4px 10px 0px rgba(161, 161, 161, 0.18);
    div {
      .item1 {
        font-size: 1rem;
        display: flex;
        border-bottom: 1px rgba(112, 112, 112, 0.2) solid;
        ion-button {
          flex-grow: 1;
          --background: none;
          --background-activated: none;
          --color: red;
          --color-activated: red;
          margin-top: 20px;
        }
        ion-label {
          width: 85%;
          flex-grow: 9;
          padding: 10px 19px 16px 0px;
        }
        .sub {
          margin-top: 17px;
          display: flex;
          font-size: 0.8rem;
        }
        .cost {
          flex-grow: 1.5;
        }
        .x {
          flex-grow: 1;
        }
        .quantity {
          flex-grow: 1;
        }
        .total {
          flex-grow: 1.5;
          text-align: right;
        }
      }
    }

    .item2 {
      --border-color: white;
      .total1 {
        display: flex;
        font-size: 1rem;
        color: red;
        font-weight: bold;
      }
      .tamtinh {
        flex-grow: 1;
      }
      .quantity {
        flex-grow: 1;
        text-align: center;
      }
      .totalcost {
        flex-grow: 1;
        text-align: right;
      }
    }
  }
  .paytype {
    border-radius: 10px;
    padding-bottom: 10px;
    margin: 10px 8px;
    background: white;
    .title {
      font-size: 1rem;
    }
    box-shadow: 0px 4px 10px 0px rgba(161, 161, 161, 0.18);
    ion-item {
      .sub-title {
        font-size: 0.9rem;
      }
      --border-color: white;
      ion-icon {
        font-size: 1.2rem;
        padding-right: 10px;
      }
    }
  }
  ion-radio {
    --color-checked: #00a859;
    width: 20px;
    height: 20px;
  }
  .customer {
    /* padding: 10px 0 20px 0; */
    border-radius: 10px;
    padding-bottom: 10px;
    margin: 20px 8px 20px 8px;
    background: white;
    box-shadow: 0px 4px 10px 0px rgba(161, 161, 161, 0.18);
    .title {
      font-size: 1rem;
    }
    ion-item {
      --border-color: white;
      .sub-title {
        font-size: 0.9rem;
      }
    }
    .radio {
      display: flex;
      ion-item {
        flex-grow: 1;
        width: 50%;
        ion-label {
          margin-left: 10px;
        }
      }
    }
    form {
      width: 100vw;
      text-align: center;
      ion-input {
        border-bottom: 1px rgba(112, 112, 112, 0.2) solid;
        width: 80vw;
        margin: auto;
      }
      ion-select {
        width: 80vw;
        margin: auto;
        border-bottom: 1px rgba(112, 112, 112, 0.2) solid;
      }
      ion-datetime {
        width: 80vw;
        margin: auto;
        border-bottom: 1px rgba(112, 112, 112, 0.2) solid;
      }
      .search-area {
        background-color: white;
        position: absolute;
        z-index: 999;
        left: 10vw;
        right: 8vw;
        width: 80vw;
        margin: auto;
        box-shadow: 0px 2px 5px 0px rgba(112, 112, 112, 0.2);
        .item {
          border-bottom: 1px rgba(112, 112, 112, 0.2) solid;
          padding: 10px 0;
          display: flex;
          .name {
            flex-grow: 1;
            text-align: left;
          }
          .phone {
            flex-grow: 1;
            text-align: right;
          }
        }
      }
    }
  }
}
.btn {
  margin: 10px 0;
  display: flex;
  font-size: 0.5rem;
  .add {
    flex-grow: 1;
    text-align: center;
  }
  .save {
    flex-grow: 1;
    text-align: center;
  }
  .pay {
    flex-grow: 1;
    text-align: center;
  }
  ion-button {
    width: 7rem;
    height: 2rem;
    --background-activated: #f5a62f;
    --background: #f5a62f;
    font-weight: bold;
    --border-radius: 5px;
  }
}
